//
   Created by Brecht on 8/11/2015.

extends layout
block socket
    script(src='/socket.io/socket.io.js')
    script(src='./dist/js/CHATSYSTEM.js')
block groups
    header(id='#{user}')
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li.active
                            a(href='/groups') Groups
                        if(admin === true)
                            li
                                a(href='/admin') Admin
                        if(toon === true)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='#{foto}')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        if(toon === false)
                            li
                                a(href='/login',title='sign in')
                                    button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-2
                .user-groups
                    h2 My Groups
                    for result in mijndat
                        a(href='#{path}?groupss=#{result.id}')
                            p #{result.name}
            .col-md-10
                .group-contacts
                    h2 #{titel}
                    .container-fluid
                        .row
                            .col-md-6
                                for res in mev
                                    .panel.panel-default(id=res.id)
                                        .panel-heading #{res.name}
                                        #online-users.list-group
                                            p #{res.description}
                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Group Chat
                                    .panel-body
                                        .chat#chatd
                                        .input-group(style='margin-top:10px')
                                            input#chat-input.form-control(type='text')
                                            span.input-group-btn
                                                button#btnchat.btn.sendm.btn-default(type='submit') Send Message

                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Online Users
                                    ul#user-list.list-group
                                    .panel-body#clientshere

    footer.footer
        .container-fluid
            .row
                p.text-muted Project Front & Back end Development ( Brecht Tourlousse, Cedric Lecat & Wouter Dumon )
                a(href='#')
                    span.glyphicon.glyphicon-menu-up.bck-to-top(aria-hidden='true')
    script(type='text/javascript', src='../dist/js/jquery.min.js',defer)
    script(type='text/javascript', src='../dist/js/bootstrap.min.js',defer)