//
   Created by Brecht on 8/11/2015.

extends layout

block landing
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li.active
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li
                            a(href='/groups') Groups
                        if(admin!=0)
                            li
                                a(href='/admin') Admin
                        li.dropdown
                             if (name != 'N')
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='../img/profile/default-profile-pic.png')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        li
                            a(href='/login')
                                button.btn.btn-default.navbar-btn(type='button') Sign in
    .slider
        #myCarousel.carousel.slide(data-ride='carousel')
            .carousel-inner
                for result in data
                    if(result.id == data[0].id)
                        .item.active
                            img(data-src='#{result.pictureSlider}', alt='first slide', src='#{result.pictureSlider}')
                            .carousel-caption
                                h2 #{result.name}
                                p #{result.description}
                                p
                                    a.btn.btn-default.btn-responsive.btn-lg(href='html/404.html', role='button') Werkt nog niet
                    else
                        .item
                            img(data-src='#{result.pictureSlider}', alt='first slide', src='#{result.pictureSlider}')
                            .carousel-caption
                                h2 #{result.name}
                                p #{result.description}
                                p
                                    a.btn.btn-default.btn-responsive.btn-lg(href='html/404.html', role='button') Werkt nog niet
            // Controls
            a.left.carousel-control(href='#myCarousel', data-slide='prev')
                span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                span.sr-only Previous
            a.right.carousel-control(href='#myCarousel', data-slide='next')
                span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                span.sr-only Next
    .container-fluid
        .row
            .col-md-6
                .trending
                    img.img.img-responsive(src='#{trend.pictureUrl}', alt='pic')
                    h2 #{trend.name}
                    p
                        | #{trend.description}
                    button.btn.btn-info.btn-lg Learn more
            .col-md-6
                .new
                    img.img.img-responsive(src='#{newe.pictureUrl}', alt='pic')
                    h2 #{newe.name}
                    p
                        | #{newe.description}
                    button.btn.btn-info.btn-lg Learn more
        .row
            .col-md-12
                .promoted
                    h2 Promoted
                    img.img.img-responsive(src='#{prom.pictureUrl}', alt='pic')
                    button.btn.btn-info.btn-responsive.btn-lg #{prom.name}

    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script.
        $('.carousel').carousel({
            interval: 3500, // in milliseconds
            pause: 'none' // set to 'true' to pause slider on mouse hover
        });