//
   Created by Brecht on 8/11/2015.

extends layout

block profile
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li
                            a(href='/groups') Groups
                        if(admin === true)
                            li
                                a(href='/admin') Admin
                        if(toon === true)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='#{foto}')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li.active
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        if(toon === false)
                            li
                                a(href='/login',title='sign in')
                                    button.btn.btn-default.navbar-btn(type='button') Sign in
    .title-section.clearfix
        .panel-header.no-subtitle
            h2 User Profile Page
    .container-fluid(data-ng-app='profile', data-ng-controller='ProfileController')
        .row
            .col-md-3
                .panel.widget.light-widget.panel-bd-top
                    .panel-heading.no-title
                    .panel-body
                        .text-center.info-parent
                            img(alt='Profile Picture', src='#{UD.picture}')
                        .row
                            if eigen == 0
                                .col-xs-12.friends-dv
                                    a.btn.btn-xs.btn-block.friends
                                        i.fa.fa-check-circle.append-icon
                                        | Add as friend
                            if eigen == 1
                                .col-xs-12.upload-dv
                                    form(name='uploadpicture',action='/profilepicture', method='post',enctype="multipart/form-data")
                                        .form-group
                                            input#input-1.file(type='file',name='PICTURE')
                                        .form-group
                                                button.btn.btn-save#submit(type='submit')
                                                    span.menu-icon
                                                        i.fa.fa-fw.fa-check
                                                    |  Save
                        h2 #{naam}
                        p
                            | #{UD.description}
                        div
                            table.table.table-striped.table-hover
                                tbody
                                    tr
                                        td Member Since
                                        td  #{MS}
                .panel.widget.light-widget
                    .panel-body-list
                        h3.h-contact
                            i.fa.fa-users.mgr-10
                            | Contacts
                        .content-grid
                            div
                                ul.list-wrapper.b-contact
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-1.jpg')
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-2.jpg')
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-3.jpg')
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-4.jpg')
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-5.jpg')
                                    li
                                        a(href='#')
                                            span.menu-icon
                                                img(alt='example image', src='../img/profile/avatar-6.jpg')
                        .closing(style='')
                            a(href='#friends-tab')
                                | See All Friends
                                i.fa.fa-angle-double-right.prepend-icon
            .col-md-9
                .tabs.widget
                    ul.nav.nav-tabs.widget
                        li.active
                            a(data-toggle='tab', href='#profile-tab',title='#profile-tab')
                                | Profile
                                span.menu-active
                                    i.fa.fa-caret-up
                        li
                            a(data-toggle='tab', href='#events-tab',title='#events-tab')
                                | Events
                                span.menu-active
                                    i.fa.fa-caret-up
                        li
                            a(data-toggle='tab', href='#contacts-tab',title='#contacts-tab')
                                | Contacts
                                span.menu-active
                                    i.fa.fa-caret-up
                        li
                            a(data-toggle='tab', href='#groups-tab',title='#groups-tab')
                                | Groups
                                span.menu-active
                                    i.fa.fa-caret-up

                    .tab-content
                        #profile-tab.profile-tab.tab-pane.active(role='tabpanel')
                            h3
                                i.fa.fa-user
                                | ABOUT
                            .row
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Firstname:
                                        .col-xs-7.controls(data-ng-bind="profile.firstName")
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Lastname:
                                        .col-xs-7.controls(data-ng-bind="profile.lastName")
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Email:
                                        .col-xs-7.controls(data-ng-bind="profile.email")
                                .col-sm-6
                                    .row.mgbt-xs-0
                                        label.col-xs-5.control-label Gender:
                                        .col-xs-7.controls(data-ng-bind="profile.gender")
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Birthday:
                                        .col-xs-7.controls(data-ng-bind="profile.birthday")
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Maritial status:
                                        .col-xs-7.controls(data-ng-bind="profile.marital")

                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label Country:
                                        .col-xs-7.controls(data-ng-bind="profile.country")
                                .col-sm-6
                                    .row
                                        label.col-xs-5.control-label City:
                                        .col-xs-7.controls(data-ng-bind="profile.city")
                                .col-sm-6
                                    .row.mgbt-xs-0
                                        label.col-xs-5.control-label Work:
                                        .col-xs-7.controls(data-ng-bind="profile.work")
                                .col-sm-6
                                    .row.mgbt-xs-0
                                        label.col-xs-5.control-label Interests:
                                        .col-xs-7.controls(data-ng-bind="profile.interests")
                            if eigen==1
                                .row.edit-profile
                                    .col-md-12
                                        h3
                                            i.fa.fa-cog
                                            | Profile Setting
                                        form(name='settingsForm',action='/profile', method='post',data-ng-submit='submitForm()', novalidate='')
                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.firstname.$invalid && (settingsForm.firstname.$touched || submitted)}")
                                                label.col-sm-2.control-label Firstname
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            input.form-control(type='text', name='firstname', ng-model='firstName', placeholder='Your Firstname', ng-minlength='2', ng-maxlength='15', ng-required='true')
                                                            .help-block(data-ng-messages='settingsForm.firstname.$error', data-ng-if='settingsForm.firstname.$touched')
                                                                p(data-ng-message='minlength') Your firstname is too short.
                                                                p(data-ng-message='maxlength') Your firstname is too long.
                                                                p(data-ng-message='required') Your firstname is required.

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.lastname.$invalid && (settingsForm.lastname.$touched || submitted)}")
                                                label.col-sm-2.control-label Lastname
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            input.form-control(type='text', name='lastname', ng-model='lastName', placeholder='Your Lastname', ng-minlength='2', ng-maxlength='15', ng-required='true')
                                                            .help-block(data-ng-messages='settingsForm.lastname.$error', data-ng-if='settingsForm.lastname.$touched')
                                                                p(data-ng-message='minlength') Your lastname is too short.
                                                                p(data-ng-message='maxlength') Your lastname is too long.
                                                                p(data-ng-message='required') Your lastname is required.

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.email.$invalid && (settingsForm.email.$touched || submitted)}")
                                                label.col-sm-2.control-label Email
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            input.form-control(type='email', name='email', ng-model='email', placeholder='Your Email Address', ng-required='true')
                                                            .help-block(data-ng-messages='settingsForm.email.$error', data-ng-if='settingsForm.email.$touched')
                                                                p(data-ng-message='required') Your email is required.
                                                                p(data-ng-message='email') Enter a valid email
                                            .form-group
                                                label.col-sm-2.control-label Gender
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            span.radio-off
                                                                input#optionsRadios3(checked='checked',value='Male', name='optionsRadios2', type='radio', ng-model='gender')
                                                                label(for='optionsRadios3')  Male

                                                            span.radio-off1
                                                                input#optionsRadios4(value='Female', name='optionsRadios2', type='radio', data-ng-model='gender')
                                                                label(for='optionsRadios4')  Female


                                            .form-group
                                                label.col-sm-2.control-label Birthday
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            p.input-group
                                                                input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='dt', is-open='status.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                                                                span.input-group-btn
                                                                    button.btn.btn-default(type='button', data-ng-click='open($event)')
                                                                        i.glyphicon.glyphicon-calendar


                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.marital.$invalid  && (settingsForm.marital.$touched || submitted)}")
                                                label.col-sm-2.control-label Marital Status
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            select.form-control(name='marital', data-ng-required='true', ng-model='marital',data-ng-options='marital.name for marital in status')
                                                                option(value='') Select your marital status

                                                            .help-block(data-ng-messages='settingsForm.marital.$error', data-ng-if='settingsForm.marital.$touched')
                                                                p(data-ng-message='required') Select a marital status

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.work.$invalid  && (settingsForm.work.$touched || submitted)}")
                                                label.col-sm-2.control-label Work
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            select.form-control(name='work', data-ng-required='true', ng-model='work',data-ng-options='work.name for work in jobs')
                                                                option(value='') Select your work
                                                            .help-block(data-ng-messages='settingsForm.work.$error', data-ng-if='settingsForm.work.$touched')
                                                                p(data-ng-message='required') Select your job

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.country.$invalid  && (settingsForm.country.$touched || submitted)}")
                                                label.col-sm-2.control-label Country
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            select.form-control(name='country', ng-required='true',ng-model='country', ng-options='country.name for country in countries')
                                                                option(value='') Select your country
                                                            .help-block(data-ng-messages='settingsForm.country.$error', data-ng-if='settingsForm.country.$touched')
                                                                p(data-ng-message='required') Select your country
                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.city.$invalid  && (settingsForm.city.$touched || submitted)}")
                                                label.col-sm-2.control-label City
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            select.form-control(name='city',data-ng-disabled='!country', data-ng-required='true', ng-model='city', data-ng-options='city for city in country.cities')
                                                                option(value='') Select your city
                                                            .help-block(data-ng-messages='settingsForm.city.$error', data-ng-if='settingsForm.city.$touched')
                                                                p(data-ng-message='required') Select your city

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.interests.$invalid  && (settingsForm.interests.$touched || submitted)}")
                                                label.col-sm-2.control-label Interests
                                                .col-sm-10.controls
                                                    .row
                                                        .col-xs-12
                                                            input.form-control(type='text',name='interests', ng-model='interests',data-ng-minlength='3', data-ng-maxlength='50', data-ng-required='true')
                                                            .help-block(data-ng-messages='settingsForm.interests.$error', data-ng-if='settingsForm.interests.$touched')
                                                                p(data-ng-message='minlength') Your interest is too short.
                                                                p(data-ng-message='maxlength') Your interest is too long.
                                                                p(data-ng-message='required') Your interests are required.

                                            .form-group(data-ng-class="{ 'has-error' : settingsForm.description.$invalid  && (settingsForm.description.$touched || submitted)}")
                                                label.col-sm-2.control-label About
                                                .col-sm-10.controls
                                                    .row.mgbt-xs-0
                                                        .col-xs-12
                                                            textarea.form-control(rows='3',name='description', ng-model='description',ng-minlength='20', data-ng-maxlength='100', data-ng-required='true')
                                                            .help-block(data-ng-messages='settingsForm.description.$error', data-ng-if='settingsForm.description.$touched')
                                                                p(data-ng-message='minlength') Your description is too short ( 20 ).
                                                                p(data-ng-message='maxlength') Your description is too long ( 100 ).
                                                                p(data-ng-message='required') Your description is required.

                                            .form-group
                                                label.col-md-2.control-label
                                                .col-md-10.controls
                                                    button.btn.btn-save#submit(type='submit', data-ng-disabled='settingsForm.$invalid')
                                                        span.menu-icon
                                                            i.fa.fa-fw.fa-check
                                                        |  Save
                        #events-tab.event-tab.tab-pane(role='tabpanel')
                            h3
                                i.fa.fa-bolt.mgr-10.profile-icon
                                |  Events
                            .table-responsive
                                table.table.table-striped.table-hover
                                    thead
                                        tr

                                            th Logo / Photos
                                            th Title
                                            th Date
                                            th Time
                                            th Status
                                            th Cost
                                            th Slots
                                            if eigen == 1
                                                th Action
                                    tbody
                                        for events in evs
                                            tr

                                                td
                                                    img(src='#{events.pictureUrl}', alt='#{events.pictureUrl}', height='80')
                                                td #{events.name}
                                                td.center #{events.date}
                                                td.center #{events.time}
                                                td.center
                                                    if events.done == 1
                                                        span.label.label-success Finish
                                                    else
                                                        span.label.label-info Soon
                                                td.center #{events.price}
                                                td.center #{events.maxMember}
                                                if eigen == 1
                                                    td.menu-action.rounded-btn
                                                        a.menu-icon(data-placement='top', data-toggle='tooltip', data-original-title='edit', id='#{events.id}')
                                                            i.fa.fa-pencil
                                                        a.menu-icon(data-placement='top', data-toggle='tooltip', data-original-title='delete', id = "#{events.id}")
                                                            i.fa.fa-times
                            h3
                                i.fa.fa-bolt.mgr-10.profile-icon
                                |  Events i'm going to
                            .table-responsive
                                table.table.table-striped.table-hover
                                    thead
                                        tr

                                            th Logo / Photos
                                            th Title
                                            th Date
                                            th Time
                                            th Status
                                            th Cost
                                            th Slots
                                            if eigen == 1
                                                th Action
                                    tbody
                                        for events in gevs
                                            tr

                                                td.image
                                                    img(src='#{events.pictureUrl}', alt='#{events.pictureUrl}', height='80')
                                                td.name #{events.name}
                                                    p(ng-hide="true")=events.description
                                                    p(ng-hide="true")=events.location
                                                td.center.date #{events.date}
                                                td.center.time #{events.time}
                                                td.center
                                                    if events.done == 1
                                                        span.label.label-success Finish
                                                    else
                                                        span.label.label-info Soon
                                                td.center.price #{events.price}
                                                td.center.maxMember #{events.maxMember}
                                                if eigen == 1
                                                    td.menu-action.rounded-btn
                                                        a.menu-icon(data-placement='top', data-toggle='tooltip', data-original-title='edit', id='#{events.id}',ng-click="editEvent($event)")
                                                            i.fa.fa-pencil
                                                        a.menu-icon(data-placement='top', data-toggle='tooltip', data-original-title='delete', id = "#{events.id}")
                                                            i.fa.fa-times


                            if eigen==1
                                .row.edit-profile
                                    .col-sm-12
                                        h3
                                            i.fa.fa-cog
                                            | Create Event
                                        form(name='eventsForm',action='/profileevent', method='post', novalidate='', enctype="multipart/form-data")
                                            .form-group
                                                label.col-md-3.control-label Picture
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input#input-1.file(type='file',name='pictureUrl',data-ng-model='event.pictureUrl', multiple)

                                            .form-group(data-ng-class="{ 'has-error' : eventsForm.etitle.$invalid  && (eventsForm.etitle.$touched || submitted)}")
                                                label.col-md-3.control-label Title
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input.form-control(type='text',name='etitle',data-ng-model='etitle',placeholder='Write title here', data-ng-minlength='2', data-ng-maxlength='20', data-ng-required='true')
                                                            .help-block(data-ng-messages='eventsForm.etitle.$error', ng-if='eventsForm.etitle.$touched')
                                                                p(data-ng-message='minlength') Event title is too short.
                                                                p(data-ng-message='maxlength') Event title is too long.
                                                                p(data-ng-message='required') Event title is required.
                                            .form-group
                                                label.col-md-3.control-label Date
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input.form-control(type='text',name='date',data-ng-model='date',placeholder='Write date here')
                                            .form-group
                                                label.col-md-3.control-label Time
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input.form-control(type='text',name='time',data-ng-model='time',placeholder='Write time here')
                                            .form-group
                                                label.col-md-3.control-label Location
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input.form-control(type='text',name='Location',data-ng-model='Location',placeholder='Write Location here')
                                            .form-group
                                                label.col-md-3.control-label Group
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            select.form-control(name='Group',data-ng-model="group")
                                                                for gr in allgroups
                                                                    option(value='#{gr.id}') #{gr.name}
                                             // .form-group
                                                label.col-md-3.control-label Date
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            p.input-group
                                                                input.form-control(type='text', uib-datepicker-popup='{{format}}', ng-model='dt', is-open='status.opened', min-date='minDate', max-date='maxDate', datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', close-text='Close')
                                                                span.input-group-btn
                                                                  button.btn.btn-default(type='button', ng-click='open($event)')
                                                                   i.glyphicon.glyphicon-calendar
                                            // .form-group
                                                label.col-md-3.control-label Time
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            uib-timepicker(ng-model='mytime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')

                                            .form-group(data-ng-class="{ 'has-error' : eventsForm.cost.$invalid  && (eventsForm.cost.$touched || submitted)}")
                                                label.col-md-3.control-label Cost
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            .input-group
                                                                span.input-group-addon $
                                                                input.form-control(type='number',name='cost' data-ng-model='cost', data-ng-required='true')
                                                                .help-block(data-ng-messages='eventsForm.cost.$error', data-ng-if='eventsForm.cost.$touched')
                                                                    p(data-ng-message='required') The cost is required.
                                                                    p(data-ng-message='number') The cost must be a number.

                                            .form-group(data-ng-class="{ 'has-error' : eventsForm.slots.$invalid  && (eventsForm.slots.$touched || submitted)}")
                                                label.col-md-3.control-label Slots
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input(type='number', name='slots', min='1', max='5', data-ng-model='slots',data-ng-required='true')
                                                            .help-block(data-ng-messages='eventsForm.slots.$error', data-ng-if='eventsForm.slots.$touched')
                                                                p(data-ng-message='required') Amount of slots is required.
                                                                p(data-ng-message='number') Amount of slots must be a number.

                                            .form-group(data-ng-class="{ 'has-error' : eventsForm.edescription.$invalid  && (eventsForm.edescription.$touched || submitted)}")
                                                label.col-md-3.control-label Description
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            textarea.form-control(rows='3',name='edescription' ,ng-model='edescription',data-ng-minlength='20', data-ng-maxlength='100', data-ng-required='true')
                                                            .help-block(data-ng-messages='eventsForm.edescription.$error', data-ng-if='eventsForm.edescription.$touched')
                                                                p(data-ng-message='minlength') Event description is too short ( 20 ).
                                                                p(data-ng-message='maxlength') Event description is too long ( 100 ).
                                                                p(data-ng-message='required') Event description is required.
                                            .form-group
                                                label.col-md-3.control-label
                                                .col-md-9.controls
                                                    button.btn.btn-save(type='submit',data-ng-submit='submitFormE()', data-ng-disabled='eventsForm.$invalid')
                                                        span.menu-icon
                                                            i.fa.fa-fw.fa-check
                                                        |  Save
                        #contacts-tab.contact-tab.tab-pane(role='tabpanel')
                            h3
                                i.fa.fa-users.mgr-10.profile-icon
                                |  FRIENDS
                            ul.nav.nav-pills
                                li.active
                                    a(href='#', data-toggle='tab') Friends
                                if eigen==1
                                    li
                                        a(href='#', data-toggle='tab') Pending Request
                                    li
                                        a(href='#', data-toggle='tab') Blacklisted
                            .content-grid.column-xs-3.column-sm-4.column-md-4.column-lg-6.height-xs-4
                                div
                                    ul.list-wrapper
                                        li
                                            a(href='#')
                                                span.menu-icon
                                                    img(src='../img/profile/avatar-1.jpg', alt='example image')
                                            span.menu-text
                                                | Gabriella Montagna
                                                span.menu-info
                                                    span.menu-date San Diego
                                                    span.menu-action
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Approve')
                                                            i.fa.fa-check
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Reject')
                                                            i.fa.fa-times
                                        li.warning
                                            a(href='#')
                                                span.menu-icon
                                                    img(src='../img/profile/avatar-2.jpg', alt='example image')
                                            span.menu-text
                                                | Jonathan Fuzzy
                                                span.menu-info
                                                    span.menu-date Seattle
                                                    span.menu-action
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Approve')
                                                            i.fa.fa-check
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Reject')
                                                            i.fa.fa-times
                                        li
                                            a(href='#')
                                                span.menu-icon
                                                    img(src='../img/profile/avatar-3.jpg', alt='example image')
                                            span.menu-text
                                                | Sakura Hinata
                                                span.menu-info
                                                    span.menu-date Hawaii
                                                    span.menu-action
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Approve')
                                                            i.fa.fa-check
                                                        span.menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Reject')
                                                            i.fa.fa-times
                        #groups-tab.groups-tab.tab-pane(role='tabpanel')
                            h3
                                i.fa.fa-leaf.mgr-10.profile-icon
                                |  GROUPS
                            .row
                                for gr in groups
                                    .col-xs-12.col-sm-6
                                        .content-list.content-large.menu-action-right
                                            ul.list-wrapper.pd-lr-15
                                                li
                                                    .menu-icon
                                                        a(href='#')
                                                            img(src='#{gr.picture}', alt='example image')
                                                    .menu-text
                                                        h4
                                                            a(href='#') #{gr.name}
                                                        .menu-info
                                                            span.menu-date #{gr.memberids.length} members
                                                        p
                                                            | #{gr.description}
                                                    .menu-action
                                                        .menu-action-icon(data-placement='bottom', data-toggle='tooltip', data-original-title='Leave Group')
                                                            i.fa.fa-times
                            if eigen==1
                                .row.edit-profile
                                    .col-sm-12
                                        h3
                                            i.fa.fa-cog
                                            | Create Group
                                        form(name='groupsForm',action='/profilegroups', method='post',data-ng-submit='submitForm()', novalidate='',enctype="multipart/form-data")
                                            .form-group
                                                label.col-md-3.control-label Picture
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input#input-1.file(type='file',name="Foto",data-ng-model="group.Foto")

                                            .form-group(data-ng-class="{ 'has-error' : groupsForm.gtitle.$invalid  && (groupsForm.gtitle.$touched || submitted)}")
                                                label.col-md-3.control-label Title
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            input.form-control(type='text',name='gtitle',data-ng-model='group.gtitle',placeholder='Write title here',  data-ng-minlength='2', data-ng-maxlength='20', data-ng-required='true')
                                                            .help-block(data-ng-messages='groupsForm.gtitle.$error', data-ng-if='groupsForm.gtitle.$touched')
                                                                p(data-ng-message='minlength') Group title is too short.
                                                                p(data-ng-message='maxlength') Group title is too long.
                                                                p(data-ng-message='required') Group title is required.

                                            .form-group(data-ng-class="{ 'has-error' : groupsForm.gdescription.$invalid  && (groupsForm.gdescription.$touched || submitted)}")
                                                label.col-md-3.control-label Description
                                                .col-md-9.controls
                                                    .row
                                                        .col-md-12
                                                            textarea.form-control(rows='3',name='gdescription', data-ng-model='group.gdescription',data-ng-minlength='20', data-ng-maxlength='100', data-ng-required='true')
                                                            .help-block(data-ng-messages='groupsForm.gdescription.$error', ng-if='groupsForm.gdescription.$touched')
                                                                p(data-ng-message='minlength') Group description is too short ( 20 ).
                                                                p(data-ng-message='maxlength') Group description is too long ( 100 ).
                                                                p(data-ng-message='required') Group description is required.
                                            .form-group
                                                label.col-md-3.control-label
                                                .col-md-9.controls
                                                    button.btn.btn-save(type='submit', data-ng-disabled='groupsForm.$invalid')
                                                        span.menu-icon
                                                            i.fa.fa-fw.fa-check
                                                        |  Save

    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script(src='/dist/js/angular.min.js')
    script(src='/dist/js/angular-messages.min.js')
    script(src='/dist/js/angular-animate.min.js')
    script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js')
    script(src='/src/app.js')
    script(src='/src/services/mStatusService.js')
    script(src='/src/services/jobService.js')
    script(src='/src/services/countryService.js')
    script(src='/src/services/certainUserService.js')
    script(src='/src/controllers/ProfileController.js')
    script(type='text/javascript', src='/dist/js/fileinput.min.js')



